@media all {
  .accomodationPage__title {
    font-size: 36px;
    line-height: 142.6%;
    color: #ff6060;
  }

  .accomodationPage__location {
    font-size: 18px;
    line-height: 142.6%;
    color: #ff6060;
  }
}

@media (max-width: 450px) {
  .accomodationPage__title {
    font-size: 24px;
  }

  .accomodationPage__location {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .accomodationPage__title {
    font-size: 18px;
  }

  .accomodationPage__location {
    font-size: 14px;
  }
}
