header {
  width: 86.11%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  align-items: center;
  padding-bottom: 4%;
}

.navbar__logo {
  width: 210.32px;
  height: 68px;
}

.navbar__ul {
  display: flex;
  gap: 57px;
}

.navbar__li {
  font-family: 'Montserrat', 'Arial', 'Sans-serif';
  color: #ff6060;
  font-size: 24px;
  line-height: 142.6%;
  list-style: none;
}

.navbar__li:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
