@media all {
  .gallery {
    display: flex;
    justify-content: center;
    gap: 60px 150px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    background-color: #e5e5e5;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 50px;
    flex-wrap: wrap;
  }
}

@media (max-width: 1420px) {
  .gallery {
    gap: 40px 30px;
  }
}

@media (max-width: 1056px) {
  .gallery {
    gap: 20px 20px;
    padding: 30px;
  }
}

@media (max-width: 987px) {
  .gallery {
    padding: 20px;
  }
}

@media (max-width: 603px) {
  .gallery {
    background-color: inherit;
    padding: inherit;
    gap: inherit;
    row-gap: 20px;
    width: 89.33%;
  }
}
