@media all {
  .gallery {
    display: flex;
    justify-content: center;
    gap: 60px 50px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    background-color: #e5e5e5;
    border-radius: 25px;
    box-sizing: border-box;
    padding: 50px;
    flex-wrap: wrap;
  }
}
