@media all {
  .carousel {
    height: 800px;
    width: 100%;
    margin: auto;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .carousel__img {
    width: 100%;
    height: 800px;
    border-radius: 25px;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  .carousel__picturesNumber {
    color: white;
    z-index: 50;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    position: absolute;
    left: 48.95%;
    right: 49.11%;
    top: 90%;
    bottom: 6.01%;
  }

  .carousel__rightIcon {
    position: absolute;
    left: 92.26%;
    right: 0%;
    top: 45%;
    bottom: 37.24%;
    cursor: pointer;
  }

  .carousel__leftIcon {
    position: absolute;
    left: 0%;
    right: 92.26%;
    top: 45%;
    bottom: 35.44%;
    z-index: 50;
    cursor: pointer;
  }
}

@media (max-width: 1440px) {
  .carousel {
    height: 415px;
  }

  .carousel__img {
    height: 415px;
  }

  .carousel__picturesNumber {
    left: 48.95%;
    right: 49.11%;
    top: 86.19%;
    bottom: 6.01%;
  }

  .carousel__rightIcon {
    top: 33.93%;
  }

  .carousel__leftIcon {
    top: 33.93%;
  }
}

@media (max-width: 1120px) {
  .carousel__rightIcon {
    left: 90%;
  }
}

@media (max-width: 875px) {
  .carousel__rightIcon {
    left: 86%;
  }
}

@media (max-width: 650px) {
  .carousel__rightIcon {
    top: 40%;
    width: 60px;
  }

  .carousel__leftIcon {
    top: 40%;
    width: 60px;
  }
}

@media (max-width: 600px) {
  .carousel__picturesNumber {
    display: none;
  }

  @media (max-width: 500px) {
    .carousel__rightIcon {
      top: 45%;
      width: 40px;
      left: 88%;
    }

    .carousel__leftIcon {
      top: 45%;
      width: 40px;
    }
  }

  @media (max-width: 375px) {
    .carousel {
      width: 100%;
      height: 255px;
      margin-bottom: 15px;
      margin-top: 27px;
      border-radius: 10px;
    }

    .carousel__img {
      width: 100%;
      height: 255px;
      border-radius: 10px;
    }

    .carousel__rightIcon {
      top: 45%;
      width: 24px;
      left: 92%;
    }

    .carousel__leftIcon {
      top: 45%;
      width: 24px;
    }
  }
}
